*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container{
  width: 70%;
}
.container h1{
  letter-spacing: 2px;
  font-size: 40px;
}
form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
form input{
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
  color: white;
  margin-bottom: 20px;
  padding: 8px;
  outline: none;
  font-size: 17px;
  font-weight: 300;
}
form input[type="submit"]{
  margin-top: 20px;
  width: 8rem;
  height: 2.5rem;
  font-size: 16px;
  border: none;
  background-color: white;
  color: black;
  font-weight: 500;
}
form input[type="submit"]:active{
  scale: 0.9;
}
form .error{
  color: red;
}
form .success{
  color: green;
}